header{
    display:flex;
    justify-content:left;
    align-items:center;
    margin-left: 20px;
    margin-top: -15px;
}

body{
    background: white;
}

h1{
    font-family: waltograph;
    font-size: 40px;
    font-weight: lighter;
    cursor: pointer;
}

.top{
    font-family: InspireTWDC, AvenirNext, Matterhorn, InspireTWDC, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight:400;
    font-weight: bolder;
    font-style: normal;
    margin-left: 43px;  
}

.top:hover{
    color: lightskyblue;
    cursor: pointer;
}

h3{
    font-family: InspireTWDC, AvenirNext, Matterhorn, InspireTWDC, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 400;
    font-weight: lighter;
    font-style: normal;
    text-align:left;
    margin-left: 100px; 
    margin-top: 10px;
    margin-bottom: 10px;
}

img{
    width: 240px;
    height: 380px;
    border-radius: 8px;
    margin-top: -10px;
    margin-left: -35px;
    margin-bottom: -5px;
    margin-right: -35px;
    border: 3px solid white;
    cursor: pointer; 
}

.middle{
    font-family: InspireTWDC, AvenirNext, Matterhorn, InspireTWDC, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight:400;
    font-style: normal;
    margin-left: 15px;
}

a:hover{
    color: lightskyblue;
    cursor: pointer;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: white;
    border: 1px solid white;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0px;
    align-items: center;
    justify-content: space-around;
}

article{
    background: white;
    border: -10px solid white;
    margin-top: 5px;
    padding: 0px;

}

figcaption{
    background: white;
    border: 1px solid white;
    margin-left: -40px;
}

button{
    font-family: InspireTWDC, AvenirNext, Matterhorn, InspireTWDC, Helvetica, sans-serif;
    color: #fff;
    width: 240px;
    height: 50px;
    background-color: #0077da;
    border-color: #0077da;
    border-style:none;
    border-radius: 24px;
    font-size: 1rem;
    font-weight:400;
    font-weight: bold;
    font-style: normal;
    line-height: 1.5;
    cursor: pointer;
}

.button{
    display: inline-flex;
    height: 50px;
    width: 1480px;
    margin-top: -10px;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding-bottom: 60px;
}

h4{
    display: flex;
    justify-content: center;
    font-family: InspireTWDC, AvenirNext, Matterhorn, InspireTWDC, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: lighter;
    border: 1px solid white;
    margin-top: 0%;
}

.redesSociales{
    display: flex;
    justify-content: center;
    border: 1px solid white;
    margin-top: -25px;
    gap: 15px;
    padding-bottom: 40px;
}

.redesSociales a{
    font-size: 20px;
    color: black;
}

a:hover{
    color: lightskyblue;
    cursor: pointer;
}

.disneyBottom{
    font-family: waltograph;
    font-size: 35px;
    font-weight:lighter;
    border: 1px solid white;
    padding-bottom: 30px;
}

.bottom1{
    display: flex;
    justify-content: center;
    border: 1px solid white;
    gap: 30px;
    margin-top: -47px;
}

.bottom1 a{
    font-family: InspireTWDC, AvenirNext, Matterhorn, InspireTWDC, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight:400;
    font-style: normal;
}

a:hover{
    color: lightskyblue;
}

.bottom2{
    display: flex;
    justify-content: center;
    border: 1px solid white;
    gap: 30px;
    margin-top: 5px;
    margin-bottom: 40px;
}

.bottom2 a{
    font-family: InspireTWDC, AvenirNext, Matterhorn, InspireTWDC, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight:400;
    font-style: normal;
}

a:hover{
    color: lightskyblue;
}

footer{
    display: flex;
    justify-content: center;
    border: 1px solid white;
    font-family: InspireTWDC, AvenirNext, Matterhorn, InspireTWDC, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: -15px;
    padding-bottom: 20px;
}





    



    
  
    

  