#h1pag1 {
    color: darkmagenta;
}

#h1pag2 {
    color: darkblue;
}

#m1pag1 {
    background-color: brown;
}

#m2pag2 {
    background-color: orange;
}

#f2pag1 {
    color: darkgreen;
}

#f2pag2 {
    color: darkred;
}

